<div class="bar bar-subheader">
	<h2>About FIPRA</h2>
</div>
<ion-content scroll="true" padding="false">
	<div class="static-content has-subheader">
		<p>As experts in political and regulatory processes, we advise leading businesses and organisations on how to navigate complex policy landscapes and address regulatory challenges. We do this by creating a competitive advantage through sustainable policy change at the intersection of public and private interests.</p>
		<p>We also coordinate the wider FIPRA network together with our partners. Our network offers clients unrivalled access to bespoke, highly-specialised strategic counsel in all EU and EEA Member States in Europe, as well as elsewhere internationally, bringing together global reach with local, in-market expertise. With 50 outstanding, dedicated professionals in our Brussels and London offices, we combine in-depth regulatory expertise and high-level political insight which helps our clients achieve meaningful and measurable outcomes.</p>
		<h3>Our Approach</h3>
		<p>At the heart of our collective approach to public affairs and government relations lies a determination to seek the common ground between our clients’ objectives and the wider public interest. We support clients approach policymaking from an evidence-based perspective.</p>
		<p>Since our foundation in 2000, FIPRA International has advised a wide range of clients in a host of sectors, including banking & financial services, chemicals, industrials & mining, competition & antitrust, digital & tech, energy & environment, food & drink, healthcare & life sciences, transport, travel & logistics, international trade and, more recently, Brexit-related issues.</p>
		<p>For further information please visit our <a href="#" onclick="window.open('https://fipra.com/about-us/', '_system', 'location=yes'); return false;">website</a> or <a ui-sref="contact">Contact Us</a>.</p>
	</div>
</ion-content>