<div class="bar bar-subheader">
    <h2>Contact Us</h2>
</div>
<ion-content scroll="true" padding="false">
    <div class="static-content has-subheader">
        <p>General enquiries: <a href="#" onclick="window.open('mailto:info@fipra.com', '_system', 'location=yes'); return false;">info@fipra.com</a></p>

        <h3>Brussels Office</h3>
        <p>
            +32 (0)2 613 28 28<br>
            Rue de la Loi 227<br>
            Brussels 1040<br>
            <a href="#" onclick="window.open('https://goo.gl/maps/7TjWkDuyMGHyZ92QA', '_system', 'location=yes'); return false;">Map</a>
        </p>

        <h3>London Office</h3>
        <p>
            +44 (0) 203 805 7770<br>
            201 Borough High Street<br>
            London SE1 1JA<br>
            <a href="#" onclick="window.open('https://goo.gl/maps/Jn4pYMaYDaNYZoGXA', '_system', 'location=yes'); return false;">Map</a>
        </p>

        <h4><a href="#" onclick="window.open('https://fipra.com', '_system', 'location=yes'); return false;">fipra.com</a></h4>
    </div>
</ion-content>