<div class="bar bar-subheader">
    <h2>Contact Us</h2>
</div>
<ion-content scroll="true" padding="false">
    <div class="static-content has-subheader">
        <p>Please contact us locally through the addresses and links on the country pages on <a href="#" onclick="window.open('http://www.fipra.com/', '_system', 'location=yes'); return false;">our website</a> to reach any of our offices or colleagues. </p>
        <p>For inquiries relating to our Brussels office, please contact <a href="#" onclick="window.open('http://www.fipra.com/contact_form/33/', '_system', 'location=yes'); return false;">Laura Batchelor</a>, Director:</p>
        <p>Rue de la Loi 227<br>1040 Brussels<br>Belgium<br>Tel.: +32 2 613 2828<br>Fax: +32 2 613 2849<br><a href="#" onclick="window.open('http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Rue+de+la+Loi+227,+Bruxelles+1000+Bruxelles,+R%C3%A9gion+de+Bruxelles-Capitale,+Belgium&amp;sll=53.800651,-4.064941&amp;sspn=9.040008,27.861328&amp;ie=UTF8&amp;cd=1&amp;geocode=FZTJBwMdDulCAA&amp;split=0&amp;hq=&amp;hnear=Rue+de+la+Loi+227,+Bruxelles+1000+Bruxelles,+R%C3%A9gion+de+Bruxelles-Capitale,+Belgium&amp;z=15', '_system', 'location=yes'); return false;">Map</a>
        </p>
        <p>Centrally, all general mail and correspondence should be sent to <a href="#" onclick="window.open('http://www.fipra.com/contact_form/7/', '_system', 'location=yes'); return false;">Peter-Carlo Lehrell</a>, Chairman, Fipra International Ltd. by email – <br>or directly to the address below:</p>
        <p>
            45 Moorfields<br>
            London EC2Y 9AE<br>
            England<br>
            Tel.:+44 207 251 3801<br>
            Fax:+44 207 256 9552<br>
            <a href="#" onclick="window.open('http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=45+Moorfields,+City+of+London,+United+Kingdom&amp;sll=51.518767,-0.088874&amp;sspn=0.006462,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=45+Moorfields,+London+EC2Y+9AE,+United+Kingdom&amp;ll=51.519599,-0.088878&amp;spn=0.006462,0.021136&amp;z=16&amp;iwloc=A" target="_blank" mce_real_href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=45+Moorfields,+City+of+London,+United+Kingdom&amp;sll=51.518767,-0.088874&amp;sspn=0.006462,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=45+Moorfields,+London+EC2Y+9AE,+United+Kingdom&amp;ll=51.519599,-0.088878&amp;spn=0.006462,0.021136&amp;z=16&amp;iwloc=A', '_system', 'location=yes'); return false;">Map</a>
        </p>
    </div>
</ion-content>