<div class="bar bar-subheader">
    <h2>Voting Rules</h2>
</div>
<ion-content scroll="true" padding="false">
    <div class="static-content has-subheader">
        <p><strong>The Council voting rules change dramatically on 1 November 2014, with the aim of increasing democratic legitimacy.</strong></p>
        <p>The new Qualified Majority requires at least 55% of the participating Member States and representing at least 65% of the EU population.</p>
        <p>The first requirement implies that at least 16 EU Member States (out of the EU28) will have to vote YES.</p>
        <p>The second requirement implies that the Member States voting YES must represent approximately 325 million European citizens (based on an estimated population of 500 000 000 in the EU; the Eurostat will verify the details on an annual basis).</p>
        <p>These dramatic changes lead Fipra to revise our long-standing Council Voting Rules card, which has been used by a myriad of EU enthusiasts, including EU officials, over the years. This transition also encouraged us to bring this old "tool" into the digital age by creating this App called "Qualified Majority Calculator for Council Decisions".</p>
        <p>It does not cover every single exemption in the Council decision making (some require 72% of the member states instead of 55%; others can be taken by a simple majority). But it is fair to say that an overwhelming majority of legislative decisions by the Council are now taken with this new "double majority": 55% of Member States and 65% of population.</p>
        <p>We hope that this calculator will prove itself useful for EU officials, journalists, professionals and lobbyists alike.</p>
        <p>Over time we intend to expand this App: our ultimate goal is that users should find the answer to any technical or procedural EU decision-making process from this App. We will get there one step at the time.</p>
        <p>At the meantime, any feedback on the initial "Qualified Majority Calculator for Council Decisions" is warmly welcome.</p>
    </div>
</ion-content>