//Colours
$fiprablue: rgb(0,37,127);
$blue: #2C82C9;
$green: #2CC990;
$yellow: #EEE657;
$orange: #FCB941;
$red: #FC6042;
$black: #222222;
$white: #ffffff;
$lightgrey: #E9E9E9;
$midgrey: #BCBCBC;
$darkgrey: #424242;

//Grid
$grid-padding-width:              10px !default;
$grid-responsive-sm-break:        479px !default;  // smaller than landscape phone
$grid-responsive-md-break:        767px !default;  // smaller than portrait tablet
$grid-responsive-lg-break:        1023px !default; // smaller than landscape tablet