<div class="static-content">
    <h1 id="public-affairs">Public Affairs</h1>
    <p>Fipra's business focus is on the provision of advice and assistance in “public affairs”, also termed “government relations” in many countries. We advise companies and non-corporate clients on how best to engage with government and public institutions on questions of policy, legislation and regulation that concern them – issues that will often have a direct impact on the bottom line for any company.&nbsp;&nbsp;</p>
    <p>In Europe, much of our work is undertaken with the institutions of the European Union, including the European Commission, European Parliament, and the European Council of Ministers – representing the various Member States of the European Union.&nbsp; Both in Europe and internationally, we also work closely with governments, regulators and national parliaments in their own jurisdictions. Our personnel are well-placed to advise clients in connection with political and regulatory issues in each of the countries in which we operate.</p>
    <p>Uniquely Fipra is able to integrate political and regulatory activity at both the national, international, regional and local level to achieve client objectives. Our solutions are always tailor made, not pre-packaged; we have no “templates” except one – we organize our teams to meet your specific needs, not the other way around.</p>
    <p>If you are looking for advice and assistance in any other policy area that falls into the competence of government, we are likely to be able to help you or at the very least to point you in the right direction. We provide a full range of public affairs services. These include:&nbsp;</p>
    <ul>
        <li>Identifying the public policy issue(s) of concern to you&nbsp;&nbsp;</li>
        <li>Identifying the relevant political and regulatory audiences on particular issues</li>
        <li>Establishing the views held by key audiences and third parties</li>
        <li>Developing a public affairs plan for the best way to engage with policy makers</li>
        <li>Developing effective political and regulatory messages</li>
        <li>Arranging&nbsp;meetings and other communications with key audiences</li>
        <li>Assisting in drafting written submissions and briefing materials </li>
        <li>Monitoring and providing feedback on ongoing policy developments</li>
        <li>Co-ordinating media messages consistent with your public affairs activity<br></li>
    </ul>
    <p>Our staff are public affairs professionals with many years of experience of working with government and public institutions – and who in many cases have themselves served in the positions of those you are likely to be dealing with. </p>
</div>
