<div class="static-content">
<h1 id="sector-experience">Sector Experience</h1>
<p>Fipra's advisers advise clients from a wide range of business sectors on their engagement with political, official and regulatory institutions, both in Europe and internationally.</p>

    <h2>Business Sectors</h2>
    <ul>
        <li>Aerospace</li>
        <li>Agrobusiness</li>
        <li>Automotive</li>
        <li>Basic Industries</li>
        <li>Biotechnology</li>
        <li>Chemicals</li>
        <li>Clothing &amp; Footwear</li>
        <li>Construction</li>
        <li>Consumer Products</li>
        <li>Defence</li>
        <li>Healthcare &amp; Pharmaceuticals</li>
        <li>Education &amp; Training</li>
        <li>Energy</li>
        <li>Entertainment</li>
        <li>Environment</li>
        <li>Financial Services</li>
        <li>Food &amp; Drink</li>
        <li>Games &amp; Toys</li>
        <li>Infrastructure</li>
        <li>Information Technology</li>
        <li>Manufacturing</li>
        <li>Maritime Affairs</li>
        <li>Media</li>
        <li>Metals &amp; Minerals</li>
        <li>Mining</li>
        <li>Postal Services</li>
        <li>Science &amp; Innovation</li>
        <li>Security</li>
        <li>Sports &amp; Leisure</li>
        <li>Telecommunications</li>
        <li>Transport</li>
        <li>Water</li>
    </ul>

    <h2>Practice Areas</h2>
    <ul>
        <li>Campaigns </li>
        <li>Competition – mergers and anti-trust</li>
        <li>Consumer policy</li>
        <li>Contact programmes</li>
        <li>Crisis planning</li>
        <li>EU&nbsp;legislation </li>
        <li>Government and EU funding programmes</li>
        <li>Market liberalisation</li>
        <li>Media messaging and communication</li>
        <li>Monitoring of official announcements, publications and debates</li>
        <li>National legislation </li>
        <li>Political and regulatory research and intelligence</li>
        <li>Sector-specific regulation and supervision</li>
        <li>Small and medium-sized enterprises</li>
        <li>State aid (government financial support)</li>
        <li>Training for appearances before Parliamentary committees<br></li>
    </ul>
</div>